<%-include("header")-%>

<div class="text-center center">
    <h2>User Data</h2>
</div>
<div class="container w-25 py-5 border text-center center">
    <form method="post" action="/user/update/<%=id%>">
        <div>
            <input name="name" id="name" type="text" placeholder="name" value=<%=name%> >
        </div>
        <div>
            <input name="email" id="email" type="email" placeholder="email" value=<%=email%> >
        </div>
       
        <div>
            <input name="password" id="password" type="password" placeholder="password" value=<%=password%> >
        </div>
        <div>
            <input type="submit" value="Edit" class="btn btn-primary">
        </div>
        
    </form>
</div>