
<%-include("header")-%>

<h2 class="text-center center"> All Users Data</h2>

<% if(users){%>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">email</th>
            <th scope="col">View</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach((user,i)=>{%>
            <tr>
                <td><%=i%></td>
                <td><%=user.name%></td>
                <td><%=user.email%></td>
                <td><a href="/user/view/<%=user._id%>" type="button" class="btn btn-primary"> View </a></td>
                <td><a href="/user/delete/<%=user._id%>" type="button" class="btn btn-primary">Delete</a></td>
            </tr>
        <%})%>
    </tbody>
</table>
<%}else{%>
    <h2>No Users </h2>
<%}%>